<head>
	<link rel="stylesheet" href="css/home.css" />
</head>
<div class="container">
	<div class="container-header">
		<h4 class="container-title">In / Out</h4>
	</div>
	<table class="table" ng-controller="empDTRController"  data-ng-init="" >
		<thead>
			<div align="right">
				<button class="btn btn-primary" ng-click="">Add DTR</button>
			</div>
			<tr>
				<th ng-click="sortField='empNo'; reverse = !reverse">Employee Id</th>
				<th ng-click="sortField='firstName'; reverse = !reverse">First Name</th>
				<th ng-click="sortField='lastName'; reverse = !reverse">Last Name</th>
				<th ng-click="sortField='address'; reverse = !reverse">Time In</th>
				<th ng-click="sortField='contactNo'; reverse = !reverse">Time Out</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="Employee in Employees | filter:search | orderBy:sortField:!reverse" ng-model='Employee'>
				<td ng-bind="Employee.empNo" align="center"></td>
				<td ng-bind="Employee.firstName"></td>
				<td ng-bind="Employee.lastName"></td>
				<td ng-bind="Employee.timein"></td>
				<td ng-bind="Employee.timeout"></td>
			</tr>
		</tbody>
	</table>
</div>
