<head>
	<link rel="stylesheet" href="css/login.css" />
</head>
<div class="container">
	<section id="content">
		<form action="" name="loginForm">
			<h1>Login Form</h1>
			<div>
				<input type="text" placeholder="Username" id="username" required ng-model="user.mail" />
			</div>
			<div>
				<input type="password" placeholder="Password" id="password"  required ng-model="user.pass" />
			</div>
			<div>
				<button class="btn btn-warning" type="submit" ng-disabled="loginForm.$invalid" ng-click="logincontroller.login( user )" >Log in</button>
				<a href="#">Lost your password?</a>
				<a href="#">Register</a>
			</div>
		</form><!-- form -->
	</section><!-- content -->
</div><!-- container -->
